.App {
    display: flex;

}

.main {
    margin: 0 auto;
}

.btn {
    margin-top: 15px;
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background: red;
    color: white;
}

.margin-bottom {
    margin-top: 8px;
    padding: 7px;
}

.margin-right {
    margin-right: 3px;
    padding: 3px;
}

.average {
    display: flex;
}

.myTable {
    display: flex;
}

td {
    padding: 10px;
    border: 1px solid grey;
}

td:hover {
    background: greenyellow;
}



